<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="pages/commons/layout">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">게시판</title>

<link rel="stylesheet" type="text/css" href="../../static/styles/article.css"
th:href="@{/static/styles/article.css}" />

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

/*]]>*/
</script>

<style type="text/css">

</style>
</head>
<body>
	<section layout:fragment="main-content">
		<div class="container article-content">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="page-header">
	                	<a th:text="${article.title}" th:title="${article.title}" class="content-title">제목</a>
	                	<small th:text="${article.modifiedDate}" class="content-title">수정일</small>
	                    <small th:text="${article.owner.uid}" class="content-title">이름</small>
	                    <div class="article-buttons">
							<span
								th:if="${session.user != null and article.owner.uid == session.user.uid}">
								<a th:href="@{/article/edit-form(articleId=${article.id},groupId=${article.groupId})}"
								class="btn btn-mini btn-default"> 글수정 </a> 
								<a th:href="@{/article/delete(articleId=${article.id},groupId=${article.groupId})}"
								class="btn btn-mini btn-default"> 글삭제 </a>
							</span> <a th:href="@{/article/list(groupId=${article.groupId})}"
								class="btn btn-mini btn-default"> <span>목록</span>
							</a>
						</div>
	                </div>
					
					<ol class="breadcrumb">
	                    <li><a href="#" th:text="${groupId}">Home</a>
	                    </li>
	                    <li class="active" th:text="${article.title}">Blog Post</li>
	                </ol>
	            </div>
	        </div>
	
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="article-body" th:utext="${article} ? ${article.content} : ''">작성된 글이 없습니다.</div>
					<!--  -->
	                 <!-- the comment box -->
	                <div class="well" sec:authorize="hasRole('ROLE_USER')">
	                    <form method="post" th:action="@{/article-reply/edit-form-submit}" th:object="${articleReply}" style="margin: 0">
							<div class="reply-write" th:if="${session != null &amp;&amp; session.user != null}">
								<p class="clear">
									<textarea id="article-reply-content" th:field="*{content}" rows="3"></textarea>
									<script type="text/javascript">
										//<![CDATA[
										 CKEDITOR.replace( 'article-reply-content',{
											 height: "60px",
											 toolbar:
													[
														[]
													]
											 } );
										//]]>
									</script>
								</p>
								<div th:if="${#fields.hasErrors('content')}"
									class="text-error" th:errors="*{content}">content error</div>
								<p>
									<input type="hidden" name="articleId" th:value="${article.id}" />
									<input type="hidden" name="groupId" th:value="${article.groupId}"/>
									<input type="submit" value="댓글 달기" class="btn btn-mini btn-default" />
								</p>
							</div>
						</form>
	                </div>

					<div th:each="reply : ${articleReplies}">
						<h3>
							<span th:text="${reply.owner.uid}">Start Bootstrap</span> 
							<small th:text="${reply.createdDate}">9:41 PM on August 24, 2013</small>
							<a
								th:if="${session.user != null and reply.owner.uid == session.user.uid}"
								th:href="@{/article-reply/delete(articleId=${article.id},articleReplyId=${reply.id},groupId=${article.groupId})}"
								class="icon-remove" title="삭제"></a>
						</h3>
						<p th:utext="${reply.content}" class="reply_content">This has to be the worst blog post I have ever read. It
							simply makes no sense. You start off by talking about space or
							something, then you randomly start babbling about cupcakes, and
							you end off with random fish names.</p>
					</div>
				</div>
	        </div>
	    </div>
	</section>
</body>
</html>
