<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--<![endif]-->
<head>
<!-- layout head 템플릿 내용 시작 -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:text="#{title.tab}">청년부 관리 페이지</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" 
	th:href="@{/static/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.css" 
	th:href="@{/static/bootstrap/css/bootstrap-theme.css}" />
<link rel="stylesheet" href="../static/bootstrap/plugins/lightbox/dist/ekko-lightbox.css" 
	th:href="@{/static/bootstrap/plugins/lightbox/dist/ekko-lightbox.css}" />
<link rel="stylesheet" href="../static/styles/style.css" 
	th:href="@{/static/styles/style.css}" />




<script type="text/javascript" src="./ckeditor/ckeditor.js"
	th:src="@{/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" src="./static/jquery/jquery-1.8.3.js"
	th:src="@{/static/jquery/jquery-1.8.3.js}"></script>
<script type="text/javascript" src="../../static/jquery/ui/jquery-ui.js"
	th:src="@{/static/jquery/ui/jquery-ui.js}"></script>
<script type="text/javascript" src="./static/jquery/plugins/jquery-placeholder/jquery.placeholder.js"
	th:src="@{/static/jquery/plugins/jquery-placeholder/jquery.placeholder.js}"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"
	th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" src="../static/bootstrap/plugins/lightbox/dist/ekko-lightbox.js"
	th:src="@{/static/bootstrap/plugins/lightbox/dist/ekko-lightbox.js}"></script>

<script type="text/javascript" src="../static/scripts/haengbokhan.js"
	th:src="@{/static/scripts/haengbokhan.js}"></script>

<script type="text/javascript" th:inline="javascript">
	(function($) {
		$(document).ready(
				function() {
					$("input, textarea").placeholder();

					$(document).delegate('*[data-toggle="lightbox"]', 'click',
							function(event) {
								event.preventDefault();
								$(this).ekkoLightbox();
							});
				});
	})(jQuery);
</script>
<!-- layout head 템플릿 내용 끝 -->
</head>
<body>
	<div id="doc">
		<div id="header-container">
			<header class="wrapper">
				<!-- <h3 id="title"><a href="main.html" th:href="@{/}" th:text="#{title.haengbokhan}">h1#title</a></h3> -->

				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand title-and-logo" th:href="@{/main}" href="#"> </a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#" th:href="@{/article/list(groupId='notice')}">공지사항</a>
								</li>
								<li><a href="#" th:href="@{/image-article/image-article(groupId='image-article')}">사진방</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle"
										data-toggle="dropdown">임원방 <b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#" th:href="@{/executive-room/roll-book}">청년 출석부</a></li>
										<li><a href="#" th:href="@{/article/list(groupId='executive')}" >임원 공유 게시판</a></li>
										<li><a href="#">행사 및 봉사</a></li>
										<li class="divider"></li>
										<li><a href="#">파일방</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#" th:href="@{/login}">로그인</a></li>
								<li><a href="#" th:href="@{/signup}">등록</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">회원메뉴 <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#">정보변경</a></li>
										<li><a href="#">개인 페이지</a></li>
										<li class="divider"></li>
										<li><a href="#">회원탈퇴</a></li>
									</ul></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>


				<!-- <nav>
					<ul>
						<li th:if="${session.user != null and session.user.uid != null and #lists.contains(#strings.listSplit(session.user.role, ','), 'ROLE_ADMIN')}">
							<a href="pages/admin.html" th:href="@{/admin}" 
								th:text="#{label.menu.head.admin}">관리</a>
						</li>
						<li th:if="${session.user == null}">
							<a href="pages/login.html" th:href="@{/login}" 
								th:text="#{label.menu.head.login}">로그인</a>
						</li>
						<li th:if="${session.user != null}">
							<a href="/j_spring_security_logout" th:href="@{/j_spring_security_logout}"
								th:text="#{label.menu.head.logout}">로그아웃</a>
						</li>
						<li th:if="${session.user != null}">
							<a href="pages/study-reg.html" th:href="@{/study/reg}" 
								th:text="#{label.menu.head.studyReg}">등록</a>
						</li>
						<li>
							<a href="pages/schedule.html" th:href="@{/schedule}" 
								th:text="#{label.menu.head.schedule}">일정</a>
						</li>
						구현전까지 주석처리
						<li>
							<a href="pages/statistics.html" th:href="@{/statistics}" 
								th:text="#{label.menu.head.statistics}">통계</a>
						</li>
						
					</ul>
				</nav> -->
			</header>
		</div>
		<div id="main-container">
			<div id="main" class="wrapper clearfix"> 
				<!-- <aside id="user-panel" th:if="${session.user != null}" layout:fragment="user-panel-content">
					<h3 th:text="${session.user.name}">이름</h3>
					<h3 th:text="${session.user.email}">이메일</h3>
					<h3><a href="#" th:href="@{/user-article/list}">게시글(<span th:text="${#lists.size(session.user.articles)}">0</span>)</a></h3>
					<h3><a href="/haengbokhan/pages/penalty-list.html" th:href="@{/penalty-list}">벌점(<span th:text="${session.user.penaltyScore}">0</span>)</a></h3>
				</aside>
				<aside id="user-panel" th:if="${session.user == null}">
					<h3>이름</h3>
					<h3>이메일</h3>
					<h3><a href="#">게시글(<span>0</span>)</a></h3>
					<h3><a href="#">벌점(<span>0</span>)</a></h3>
				</aside> -->
				<section layout:fragment="main-content"> 
					<!-- 메인 컨텐츠 영역 시작 -->
					<article>
					</article>
					<!-- 메인 컨텐츠 영역 끝 -->
				</section>
			</div>
		</div>
		<!-- #main-container -->
	
		<div id="footer-container">
			<footer class="wrapper">
				<h3></h3>
			</footer>
		</div>
	</div>
</body>
</html>
